@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fontAwesome.css';


.blink {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.small-caps {
    font-variant: small-caps;
}

.link::after {
    content: '';
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 0px;
    @apply bg-teal-600 dark:bg-teal-400;
}

.link:hover::after {
    width: 100%;
    transition: all 0.4s;
}

.btn {
    @apply relative p-2 mx-1 text-blue-600 capitalize transition duration-200 border border-blue-600 rounded dark:text-blue-400 dark:border-blue-400;
}
.btn:hover {
    @apply !text-white bg-blue-600;
}

[aria-disabled=true]:hover, *:disabled:hover, [aria-current=page] {
    cursor: not-allowed;
}